<footer class="container-max-width">
    <div class="bg-dark text-white py-4">
        <div class="container row div-description">
            <div class="col-md-6">
                <p>&copy; 2024 Your Company. All rights reserved.</p>
                <p>Chúng tôi chuyên cung cấp các sản phẩm và dịch vụ chất lượng cho bạn. Với cam kết mang
                    đến những trải nghiệm tuyệt vời và sản phẩm an toàn, chúng tôi luôn hướng đến sự hài lòng của khách hàng.</p>
                <p>Liên hệ với chúng tôi qua email: <a href="mailto:7oaii4inhh@gmail.com" class="text-white">Shopp
                        App</a></p>
            </div>

            <div class="col-md-6 text-end">
                <p><a href="/terms" class="text-white">Điều Khoản Dịch Vụ</a> | <a href="/privacy"
                        class="text-white">Chính Sách Bảo Mật</a></p>
                <p>Chúng tôi cam kết bảo vệ thông tin và tuân thủ các quy định pháp lý hiện hành.</p>
                <div>
                    <a href="https://facebook.com" class="text-white me-3"><i class="fab fa-facebook"></i> Facebook</a>
                    <a href="https://instagram.com" class="text-white me-3"><i class="fab fa-instagram"></i>
                        Instagram</a>
                    <a href="https://twitter.com" class="text-white"><i class="fab fa-twitter"></i> Twitter</a>
                </div>
            </div>
        </div>
    </div>

</footer>